<div id=mainsection ng-controller="DefaultController as mainGiphy">

  <h2>main Route!!!!!!</h2>

<div id='leftSide'>
  <div id='displayGif'>
    <img ng-src="{{mainGiphy.imageUrl}}" alt=" image from giphy {{mainGiphy.imageAlt}}"
    />


  </div>
  <div id="comment">
  <textarea type="text" id="task" name="task" class="form-control" ng-model='mainGiphy.giphy_comment' >{{mainGiphy.giphy_comment}}</textarea>
  </div>
  <div id='favoriteButton'>
<button type="submit" ng-click='mainGiphy.favoriteThisGif(mainGiphy.imageUrl, mainGiphy.imageAlt)'>Favorite This GiF</button>
  </div>
</div>



  <div id="rightSide">
    <h2>Get Another GIF!</h2>
    <form class='searchForm'>
      <input type='text' ng-model='mainGiphy.searchTerm'  />
      <button type='submit' ng-click='mainGiphy.getRandomGif(mainGiphy.searchTerm)'> Search </button>
      <button id="randomButton" type="submit" ng-click="mainGiphy.getRandomGif(' ')"> Send me a random GIF!</button>

    </form>
  </div>




</div>
