body {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px;
  min-height: 700px;
  text-align: center;
}

h1 {
  text-shadow: 2px 2px 4px lightgrey;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px 5px;
  background-color: aliceblue;
}

#pageContainer {
  clear: both;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: papayawhip;
  height: 100%;
}

.favoritedGiphyDiv {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: papayawhip;
  min-height: 200px;
  width: 200px;
  float: left;
  margin: 5px 5px;
}

.favoritedGiphyDiv img {
  max-width: 98%;
}

textarea {
  resize:vertical;
  width: 95%;
}

#mainsection {
  text-align: center;
  margin: 5px auto;
  border: 1px solid black;
  /*overflow: visible;
  height: 100%;*/
}

#leftSide, #rightSide {
  margin: 5px auto;
  padding: 5px 5px;
  float: left;
  width: 48%;
  /*border: 1px solid black;*/
}

#displayGif img {
  max-width: 100%;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
